<ion-header>

  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="thirty-content-container">

  <ion-list>

    <ion-list-header class="thirty-menu-list-header" (click)="showMenuItem('drinks')">
      <ion-icon name="beer" item-start></ion-icon> Drinks
    </ion-list-header>
    <div *ngIf="drinks">

      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/cabernet.jpg">
        </ion-thumbnail>
        Cabernet Sauvignon
      </ion-item>
      <ion-item>
          <ion-thumbnail item-start>
            <img src="./../../../assets/image/example/Absinthe.jpeg">
          </ion-thumbnail>
          Absinthe
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/rum.jpg">
        </ion-thumbnail>
        Rum
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/gim.jpeg">
        </ion-thumbnail>
        Gim
      </ion-item>
    </div>

    <ion-list-header class="thirty-menu-list-header" (click)="showMenuItem('dishes')">
      <ion-icon name="restaurant" item-start></ion-icon> Dishes
    </ion-list-header>

    <div *ngIf="dishes">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/cobbSalad.jpeg">
        </ion-thumbnail>
        Cobb salad
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/cheeseburger.jpeg">
        </ion-thumbnail>
        Cheeseburger
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/reubenSandwich.jpeg">
        </ion-thumbnail>
        Reuben sandwich
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/nachos.jpg">
        </ion-thumbnail>
        Nachos
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/barbecueRibs.jpeg">
        </ion-thumbnail>
        Barbecue ribs
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="./../../../assets/image/example/buffaloWings.jpeg">
        </ion-thumbnail>
        Buffalo wings
      </ion-item>
    </div>

  </ion-list>

</ion-content>
