page-company-menu {

}

.thirty-menu-list,
.thirty-menu-list-header {
  color: #ffffff;
}

.thirty-menu-list {
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.thirty-menu-list-header {
  background-color: #803360;
}
