page-rating {

}

.thirty-rating-container {
  height: auto;
}

.thirty-rating-container-label {
  color: #43166f;
}

.thirty-rating {
  color: #ffc125;
  font-size: 30px;
  height: 15%;
  line-height: 30px;
  margin-top: 16px;
  text-align: center;
}

.thirty-company-rating-button {
  left: 30%;
}
