<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="thirty-content-container" padding>

  <ion-card *ngFor="let company of companyList" class="thirty-content">

    <ion-card-title>
      <div class="thirty-content-header">
        <div class="thirty-content-header-title">{{ company.main_name }}</div>
        <div class="thirty-content-header-subtitle">{{ company.secondary_name }}</div>
      </div>
    </ion-card-title>

    <img src="./../../assets/image/example/pub1.jpg">

    <div class="thirty-content-rating">
      <div class="thirty-content-rating-stars">

        <button ion-button clear
          class="thirty-content-rating-stars-button"
          (click)="getRatingPage(company)">
            <ion-icon *ngFor="let star of company.starList"
              [name]="star">
            </ion-icon>
          </button>

        </div>
      <div class="thirty-content-rating-description">
        <span>
          {{ company.description }}
        </span>
      </div>
    </div>

    <div class="thirty-content-footer">
      <div class="thirty-content-footer-button"
        (click)="getCompanyMenu()">
        <button ion-button icon-start clear
          class="thirty-content-footer-button-icon">
          <ion-icon name="book"></ion-icon>
        </button>

        <div class="thirty-content-footer-button-label">Cardápio</div>
      </div>

      <div class="thirty-content-footer-button"
        (click)="getCompanyRoute()">
        <button ion-button icon-start clear small
          class="thirty-content-footer-button-icon">
          <ion-icon name="pin"></ion-icon>
        </button>

        <div class="thirty-content-footer-button-label">Como chegar</div>
      </div>

      <div class="thirty-content-footer-button"
        (click)="getCompanyImages()">
        <button ion-button icon-start clear
          class="thirty-content-footer-button-icon">
          <ion-icon name="images"></ion-icon>
        </button>

        <div class="thirty-content-footer-button-label">Mais fotos</div>
      </div>
    </div>

  </ion-card>

</ion-content>
