page-timeline {

  ion-slides {
    height: 30%;
  }

  .thirty-avatar {
    border-radius: 50%;
    height: 30vh;
    margin-left: 13vw;
    position: relative;
    width: 53vw;
  }

  .thirty-avatar:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .swiper-pagination-bullet-active {
    background: #be7dff;
  }

  .thirty-timeline-rating {
    color: #ffc125;
    font-size: 30px;
    height: 15%;
    line-height: 30px;
    margin: 15px 0px 30px;
    text-align: center;
  }

  .thirty-company-actions {
    float: right;
  }

  .thirty-company-title {
    font-size: 30px;
    width: 90%;
    color: #43166f;
  }

  .thirty-content-footer {
    height: 30%;
    margin-bottom: 15px;
  }

  .thirty-content-header {
    color: #43166f;
    padding-bottom: 8px;
    text-align: center;
    width: 100%;
  }

  .thirty-timeline-button {
    left: 24%;
  }

}
