page-timeline {

  ion-slides {
    height: 30%;
  }

  // .thirty-content-avatar {
  //   border-radius: 50%;
  //   height: 72vw;
  //   left: calc(50% - 36vw);
  //   position: relative;
  //   width: 72vw;
  // }

  // .thirty-content-avatar:after {
  //   content: "";
  //   display: block;
  //   padding-bottom: 100%;
  // }

  .thirty-content-header {
    text-align: center;
    padding: 0 8px;
  }

  .thirty-content-header-title {
    color: #54003d;
    font-size: 32px;
    text-align: center;
    width: 100%;
  }

  .thirty-content-header-subtitle {
    color: #c67100;
    font-size: 16px;
  }

  .thirty-content-rating {
    height: 30%;
    padding: 8px;
  }

  .thirty-content-rating-stars {
    margin-bottom: 8px;
    text-align: center;
  }

  .thirty-content-rating-stars-button{
    color: #ffa000;
    font-size: 30px;
    height: 15%;
  }

  .thirty-content-rating-description {
    text-align: center;
  }

  .thirty-content-footer {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 8px 8px 8px;
  }

  .thirty-content-footer-button {
    display: table-cell;
    text-align: center;
  }

  .thirty-content-footer-button-label,
  .thirty-content-footer-button-icon {
    color: #803360;
  }

  .thirty-content-footer-button-icon {
    height: 16px;
    margin-bottom: 8px;
    width: 100%;
  }

  .thirty-content-footer-button-label {
    font-size: 12px;
    width: 100%;
  }

}
