page-timeline {


  ion-slides {
    background-color: #8b7e98;
    height: 30%;
  }

  .thirty-content {
    background-color: #8b7e98;
  }

  .thirty-button-description {
    background-color: #4a2f6d;
  }

  .thirty-button-more {
    background-color: transparent;
  }

  .thirty-rating {
    color: #f9f76a;
    font-size: 30px;
    height: 20%;
    line-height: 30px;
    margin: 15px 0px 30px;
    text-align: center;
  }

  .thirty-firm-more {
    float: right;
  }

  .thirty-firm-title {
    font-size: 30px;
    width: 90%;
  }

  .thirty-content-footer {
    height: 30%;
  }

  .thirty-content-header {
    text-align: center;
    width: 100%;
  }

}
