page-rating {

}

.thirty-rating-container {
  height: auto;
}

.thirty-rating-header-label {
  color: #54003d;
}

.thirty-rating-clickable,
.thirty-rating,
.thirty-user-rating {
  color: #ffa000;
  font-size: 1.5em;
  height: 15%;
  line-height: 30px;
}

.thirty-rating-clickable,
.thirty-rating {
  margin-top: 16px;
  text-align: center;
}

.thirty-user-rating {
  padding: 0 16px 16px 16px;
  text-align: right;
}

.thirty-user-rating-count {
  color: black;
  font-size: 1em;
}

.thirty-rating-clickable {
  cursor: pointer;
}

.thirty-company-rating-button {
  left: 30%;
}
