page-rating {

}

.range-bar,
.range-bar-active {
  color: transparent !important;
  background-color: transparent !important;
}

.range-knob {
  // box-shadow: none !important;
}

.tst {
  padding: 0 32px;
  height: 1;
}

.thirty-rating-container {
  height: auto;
}

.thirty-rating-header-label {
  color: #54003d;
}

.thirty-rating {
  color: #ffa000;
  font-size: 30px;
  height: 15%;
  line-height: 30px;
  margin-top: 16px;
  text-align: center;
}

.thirty-company-rating-button {
  left: 30%;
}
